# dependencies
!/node_modules
/node_modules/*
!/node_modules/.bdsignore
frontend/node_modules/
frontend/coverage/
frontend/.vscode
/frontend/package-lock.json

*.vs
*.npmrc
*.vscode
*.vsidx
build/
*.log*
/coverage

/pipelines/.vs
bundle/nssm/*
bundle/Frontend/*

/backend/.vs
/backend/.sonarlint
*.dll*

/backend/SMSTool.Core/bin
/backend/SMSTool.Core/obj

/backend/SMSTool.Core.Tests/bin
/backend/SMSTool.Core.Tests/obj

/backend/SMSTool.Core/SMSTool.db
/backend/SMSTool.Core/SMSTool.db-shm
/backend/SMSTool.Core/SMSTool.db-wal
/backend/SMSTool.Core/ExtractedFileForImport
/backend/.sonarlint/*

/installer/SMSTool_Installer/.vs/*
*.dll*

/installer/SMSTool_Installer/SMSTool_Installer/bin
/installer/SMSTool_Installer/SMSTool_Installer/obj
/installer/SMSTool_Installer/SMSTool_Installer/Bundle

/dbMigration/.vs
*.dll*

/dbMigration/DBMigration/bin
/dbMigration/DBMigration/obj

/backend/SMSTool.Core.DBMigration/bin
/backend/SMSTool.Core.DBMigration/obj
/backend/SMSTool.Core/appsettings.Development.json
/backend/SMSToolLogs

/backendApi/SMSTool.Core.BackendApi/appsettings.Development.json

bin
obj

/azurebackend/SMSTool.Core.AzureBackend/bin
/azurebackend/SMSTool.Core.AzureBackend/obj

# dependency file for snapshots related test cases
__snapshots__/
.qodo
