# dependencies

/KangaSysExportSystem/.vs
/KangaSysExportSystem/.sonarlint
*.dll*

/KangaSysExportSystem/KangaSys.API/bin
/KangaSysExportSystem/KangaSys.API/obj

/KangaSysExportSystem/KangaSys.API/appsettings.Development.json
/KangaSysExportSystem/KangaSys.API/Properties/launchSettings.json

/KangaSysExportSystem/KangaSys.Application/bin
/KangaSysExportSystem/KangaSys.Application/obj

/KangaSysExportSystem/KangaSys.Domain/bin
/KangaSysExportSystem/KangaSys.Domain/obj

/KangaSysExportSystem/KangaSys.Infrastructure/bin
/KangaSysExportSystem/KangaSys.Infrastructure/obj

/KangaSysExportSystem/KangaSys.Tests/bin
/KangaSysExportSystem/KangaSys.Tests/obj

# Ignore build outputs
bin
obj
*.exe
*.dll
*.pdb
*.so
*.dylib
*.lib

# Ignore Visual Studio and Rider IDE files
.vs/
.idea/
*.user
*.suo
*.sln.cache
*.csproj.user

# Ignore Logs and Debugging Files
*.log*
*.nlog
*.tlog
*.cache
*.out
build/
/coverage

# dependency file for snapshots related test cases
__snapshots__/